/* Dashboard container styling */
.dashboard-container {
    display: flex;
    flex-direction: column;
    background-color: #121212; /* Spotify-like dark theme */
    color: #ffffff; /* White text */
    padding: 20px;
    min-height: 100vh;
}

/* Header styling */
.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.dashboard-header h2 {
    font-size: 24px;
    font-weight: bold;
    color: #1db954; /* Spotify green */
}

.dashboard-header p {
    color: #b3b3b3;
}

.header-controls .time-frame{
    margin-right: 10px;
}

.header-controls select,
.header-controls button {
    background-color: #1db954;
    color: #ffffff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header-controls button:hover,
.header-controls select:hover {
    background-color: #1ed760;
}

/* Stats grid styling */
.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
}

.stat-card {
    background-color: #282828; /* Dark gray */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    display: flex; /* Added flexbox for alignment */
    align-items: center; /* Center items vertically */
}

.stat-icon {
    margin-right: 10px; /* Space between icon and text */
    font-size: 24px; /* Adjust icon size */
    color: #1db954; /* Color of the icon */
}

.stat-number {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.stat-label {
    font-size: 14px;
    color: #b3b3b3;
}

.stat-number-label-container {
    display: flex;
    flex-direction: column; /* Stack number and label vertically */
    align-items: flex-start; /* Align text to the left */
}

/* Charts and Top Songs sections */
.charts {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

/* Chart component styling */
.chart {
    background-color: #282828;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
}

.chart h3 {
    margin-bottom: 10px;
}

/* Top songs and Upload section styling */
.top-songs, .upload-songs {
    background-color: #282828;
    padding: 20px;
    border-radius: 8px;
    width: 40%;
}

.top-songs h3, .upload-songs h3 {
    margin-bottom: 10px;
    color: #1db954;
}

.song-list, .upload-songs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.song-item, .upload-button {
    background-color: #333333;
    padding: 10px;
    border-radius: 5px;
}

.upload-button {
    background-color: #1db954;
    color: #ffffff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.upload-button:hover {
    background-color: #1ed760;
}
